<div class="container">
  <div class="row">
    <div class="col">
      <form class="form" [formGroup]="form">
        <div class="form-group col-lg-6">
          <p>Кто вы? *</p>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="teamName" name="teamName" id="sampi" value="sampi">
            <label class="form-check-label" for="sampi">Сампи</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="teamName" name="teamName" id="ouk" value="ouk">
            <label class="form-check-label" for="ouk">Оук</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="teamName" name="teamName" id="izhica" value="izhica">
            <label class="form-check-label" for="izhica">Ижица</label>
          </div>
          <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" formControlName="teamName" name="teamName" id="zelo" value="zelo">
            <label class="form-check-label" for="zelo">Зело</label>
          </div>
        </div>
        <div class="form-group col-lg-6">
          <label class="form-label" for="code">Каков был ваш путь? *</label>
          <input type="input"
                 class="form-control"
                 id="code"
                 formControlName="code"
                 placeholder="Используйте '-' как разделитель"
          >
          <button class="btn btn-primary mt-3"
                  [disabled]="form.invalid"
                  [class.disabled]="form.invalid"
                  (click)="submit()"
          >
            Отправить
          </button>
        </div>
        <div class="form-group col-lg-6">
          <p class="text-danger">{{ message }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
